<?php
define('STS_END_CHAR', '#');

require(DIR_FS_CATALOG . 'templates/includes/sts_templates/'. MODULE_STS_TEMPLATE_FOLDER .'/head.php');
?>

<body>
	<div id="Wrapper">
		
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 left">
						<div class="logo"><a href="./" class="img-responsive" ><img src="templates/includes/sts_templates/cartstore/images/logo.png" class="img-responsive" /></a></div>
					</div>
					<div class="col-md-6 col-sm-6 right">  
						$cartbox#
						<div class="moduletable-topnav">
							<ul>
								<li><a href="create_account.php">Welcome Guest</a></li>
								<li><a href="login.php">Login</a></li>
								<li><a href="account.php">My Account</a></li>
								<li><a href="wishlist.php">My Wishlist</a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>				
		<div id="mainmenu">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">$categorybox6#
							 
							 
                                                            <form class="navbar-form navbar-right" role="search" name="quick_find" action="advanced_search_result.php" method="get">

								<div class="form-group">
									<input type="text" name="keywords" class="form-control" placeholder="Search">

 
                                                                        
                                                                        
								</div>
								<button type="submit" class="btn btn-default">Search</button>
							</form>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
		<div id="container" class="clearfix">
			<div class="container">
				<!-- only for desktop and tab view -->
				<div class="col-md-3 col-sm-3 leftCol">
                                    
                                    
                                    
                                    
					<div class="moduletable-green">
						<h3>Categories</h3>
						$categorybox5#
					</div>
					<div class="moduletable-wholesale">
						<div class="row">
						 
							<div class="textBox col-md-6 col-sm-6">
								<h3>Lorem I[su</h3>
								<a href="wholesale.php">Click Here</a>
							</div>
						</div>
					</div>
                                    
                                    $specialbox#
                                    $bestsellersbox_only# 
					 $articles#
					 
					<div class="moduletable-green ">
						<h3>Information</h3>
						<ul>
							<li><a href="article_info.php?articles_id=3">Terms & Conditions</a></li>
							<li><a href="article_info.php?articles_id=4">Privacy Policy</a></li>
							<li><a href="article_info.php?articles_id=5">Doctors & Practitioners</a></li>
							<li><a href="article_info.php?articles_id=6">Shipping & Returns</a></li>
							<li><a href="article_info.php?articles_id=7">Discount</a></li>
						</ul>
					</div>				
				
				</div>
				<div class="col-md-6 col-sm-6 contentCol">
				
					$content#
		
					
				 
		
					
		 				
				</div>
				<!-- only for mobile view -->
				<div class="col-md-3 col-sm-3 leftCol mobile">
					<div class="moduletable-green">
						<h3>Categories</h3>
						<ul>
							<li><a href="#">Claiming</a></li>
							<li><a href="#">Clears - Kidney Bladder</a></li>
							<li><a href="#">Clears - Liver / Gallbladder</a></li>
							<li><a href="#">Clears Phlegm</a></li>
							<li><a href="#">Detoxification</a></li>
							<li><a href="#">Encapsulations</a></li>
							<li><a href="#">Headache</a></li>
							<li><a href="#">High Blood Pressure</a></li>
							<li><a href="#">Homeopathy</a></li>
							<li><a href="#">Immune Stimulation</a></li>
							<li><a href="#">Increase Metabolism</a></li>
							<li><a href="#">Infection Fighter</a></li>
							<li><a href="#">Injury</a></li>
							<li><a href="#">Libido</a></li>
							<li><a href="#">Liquid Formulations</a></li>
							<li><a href="#">Lower Blood Sugar</a></li>
							<li><a href="#">Oils (oral grade)</a></li>
							<li><a href="#">Publications</a></li>
							<li><a href="#">Single Herbs</a></li>
							<li><a href="#">Tablets</a></li>
							<li><a href="#">Tonic - Adaptogen</a></li>
							<li><a href="#">Weight Loss</a></li>
						</ul>
					</div>
					<div class="moduletable-wholesale">
						<div class="row">
							<div class="imageBox col-md-6 col-sm-6">
								<img class="img-responsive" src="" width="122" height="173" alt="">
							</div>
							<div class="textBox col-md-6 col-sm-6">
								<h3>Wholesale Pricing Registration</h3>
								<a href="wholesale.php">Click Here</a>
							</div>
						</div>
					</div>
					<div class="moduletable-green">
						<h3>Specials</h3>
						<div class="special-product">
							<a href="#"><img class="" width="80" height="220" alt=""></a>
							<h4><a href="#">Respriclear Plus 2 oz</a></h4>
							<p>A magnificent herbal expectorant...</p>
							<div class="price">$32.95</div>
							<a class="buy" href="#">Buy It Now</a>
						</div>
						<div class="special-product">
							<a href="#"><img class="img-responsive" src="" width="114" height="220" alt=""></a>
							<h4><a href="#">Liver Clear 90 Caps 650mg</a></h4>
							<p>A magnificent herbal expectorant...</p>
							<div class="price">$22.90</div>
							<a class="buy" href="#">Buy It Now</a>
						</div>
					</div>
                                    $bestsellersbox_only# 
					<div class="moduletable-green blog">
						<h3>Blog Category</h3>
						<ul>
							<li><a href="#">Testosterosa 4 oz</a></li>
							<li><a href="#">UriClear 2 oz</a></li>
							<li><a href="#">ClearLung Plus 2 oz</a></li>
							<li><a href="#">LiverClear 90 caps 650 mg</a></li>
							<li><a href="#">Tonic - Adaptogen</a></li>
						</ul>
					</div>
					<div class="moduletable-green">
						<h3>Information</h3>
						<ul>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Doctors & Practitioners</a></li>
							<li><a href="#">Shipping & Returns</a></li>
							<li><a href="#">Discount</a></li>
						</ul>
					</div>				
				</div><!-- only for mobile view end -->
				
				<div class="col-md-3 col-sm-3 rightCol">
                                    
                                    $most_popular#
				 			
				</div>

			</div>
		</div>
		$newsdeksticky#
		 
		
		<div id="footer">
			<div class="container">
				<div id="footerTop" class="clearfix">
					<div class="col-md-4 newsletterTittle">
						<h3>Subscribe Our <br /> <span>NEWSLETTER</span></h3>
					</div>
					<div class="col-md-8 newsletterBox">
                                            
			
 
                                            
                                            
                                   
                                                            <form class="navbar-form" role="newsletter" name="maillist" method="get" action="newsletter.php">

					 
  							<div class="form-group">
    							<input type="text" class="form-control" placeholder="Enter Name" name="list_firstname" />
  							</div>
  							<div class="form-group">
    							<input type="text" class="form-control" placeholder="Enter Email ID" name="list_email_add" />
  							</div>  						
  							<button type="submit" class="btn btn-default">Subscribe</button>
						</form>	
					</div>			
				</div>
				<div id="footerMid" class="clearfix">
					<div class="moduletable">
						<h3>Information</h3>
						<ul>
							<li><a href="company-a-2.html">About</a></li>
							<li><a href="article_info.php?articles_id=8">Delivery</a></li>
							<li><a href="article_info.php?articles_id=4">Privacy Policy</a></li>
							<li><a href="article_info.php?articles_id=3">Terms & Conditions</a></li>
						</ul>
					</div>
					
					<div class="moduletable">
						<h3>Browse</h3>
						<ul>
							<li><a href="type-c-50.html">ddd</a></li>
							<li><a href="condition-specific-c-61.html">Shop by gg</a></li>
							<li><a href="action-c-53.html">ddd</a></li>
						</ul>
					</div>
					
					<div class="moduletable">
						<h3>Customer Service</h3>
						<ul>
							<li><a href="contact_us.php">Contact Us</a></li>
							<li><a href="article_info.php?articles_id=6">Shipping & Returns</a></li>
							<li><a href="sitemap.php">Site Map</a></li>
						</ul>
					</div>
					
					<div class="moduletable">
						<h3>Extras</h3>
						<ul>
							<li><a href="affiliate_affiliate.php">Affiliates</a></li>
							<li><a href="specials.php">Specials</a></li>
							<li><a href="article_info.php?articles_id=9">FAQ</a></li>
						</ul>
					</div>	
					
					<div class="moduletable">
						<h3>My Account</h3>
						<ul>
							<li><a href="account.php">My Account</a></li>
							<li><a href="account_history.php">Order History</a></li>
							<li><a href="wish_list.php">Wish List</a></li>
							<li><a href="newsletter.php">Newsletter</a></li>
						</ul>
					</div>																				
					
				</div>
				<div id="footerBottom" class="clearfix">
					<div class="col-md-6">
						<div class="moduletable-copy">
							Copyright 2014 All Rights Reserved.
						</div>
					</div>
					<div class="col-md-6">
						<div class="moduletable-social">
							<ul>
								<li><a href="#" target="_blank"><img src="" width="36" height="36" /></a></li>
								<li><a href="#" target="_blank"><img src="" width="36" height="36" /></a></li>
								<li><a href="#" target="_blank"><img src="" width="36" height="36" /></a></li>
								<li><a href="#" target="_blank"><img src="" width="36" height="36" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		

	</div>
	
	
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <!-- Include all compiled plugins (below), or include individual files as needed -->
  
  
 

    $sociallogin_popup#
    	<style type="text/css">
	.LoginRadius_overlay {background: none no-repeat scroll 0 0 rgba(127, 127, 127, 0.6);position: absolute;top: 0;left: 0;z-index: 100001;width: 100%;height: 100%;overflow: auto;padding: 220px 20px 20px 20px;padding-bottom: 130px;position: fixed;}
	#popupouter {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow:auto;background:#f3f3f3;padding:0px 0px 0px 0px;width:370px;margin:0 auto;}
	#popupinner {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow:auto;background:#ffffff;margin:10px;padding:10px 8px 4px 8px;}
	#textmatter {margin:10px 0px 10px 0px;font-family:Arial, Helvetica, sans-serif;color:#666666;font-size:14px;}
	.inputtxt {font-family:Arial, Helvetica, sans-serif;color:#a8a8a8;font-size:11px;border:#e5e5e5 1px solid;width:280px;height:27px;margin:5px 0px 15px 0px;}
	.inputbutton {border:#dcdcdc 1px solid;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;text-decoration:none;
	color:#6e6e6e;font-family:Arial, Helvetica, sans-serif;font-size:13px;cursor:pointer;background:#f3f3f3;padding:6px 7px 6px 8px;
	margin:0px 8px 0px 0px;}
	.inputbutton:hover {border:#00ccff 1px solid;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;khtml-border-radius:2px;text-decoration:none;color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:13px;cursor:pointer;padding:6px 7px 6px 8px;-moz-box-shadow: 0px 0px  4px #8a8a8a;-webkit-box-shadow: 0px 0px  4px #8a8a8a;box-shadow: 0px 0px  4px #8a8a8a;background:#f3f3f3;margin:0px 8px 0px 0px;}
	#textdiv {text-align:right;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#000000;}
	.span {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#00ccff;}
	.span1 {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#333333;}
	<!--[if IE]>
	.LoginRadius_content_IE {
	background:black;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);}
	<![endif]-->
	</style>

 