.article_desc {
	font-size: 1.2em;
	line-height: 1.4em;
}

.extra_images {
	padding-right: 5px;
	padding-top: 5px
}



.productitem-grid hr,
.productitem-grid .grid-view-none
 {display:none; }


.productitem-list .clear-list-view {clear:both;}
.productitem-grid .clear-list-view {display:none;}

 
 .center {text-align:center;}

.productitem-grid .text-success {display:block;width:100%}

 



.productitem-grid .well {min-height:130px;}


.clear {clear:both;}



.input-group , .form-group {max-width:300px;}




.ui-state-error  {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
	padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}


.star-rating .fa {font-size:2em;margin-top:5px;}

.label {display:inline-block;}

.ui-login {list-style:none;margin-left:0px;margin-top:10px;padding-left:0px;}

.shop-cart-image-wrap {max-width:100px;height:auto;}