<!DOCTYPE html>
<html lang="en">
<head>
    <title>OurApiServer - the fast way to create APIs!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{@WWW}}/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{@WWW}}/assets/css/font-awesome.min.css" media="screen">

    <script src="{{@WWW}}/assets/js/jquery.min.js"></script>

    <link rel="shortcut icon" href="{{@WWW}}/assets/img/fav.png">

</head>
<body>

<div class="container">

    <div class="row p-header">
        <div class="col-sm-10">
            <h1><a href="{{ @WWW }}/front"><i class="fa fa-cogs"></i></a> OurApiServer
                <small>{the fast way to create APIs}</small>
            </h1>
        </div>
        <check if="{{ isset(@SESSION.is_logged) }}">
            <div class="col-sm-2 text-right" style="padding-top: 20px;">
                <a href="{{ @WWW }}/front/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </check>
    </div>

    <br>

    <include href="{{ @content }}"/>
    <p class="text-muted pull-right" style="font-size:12px;margin-top: 40px;">
        <i class="fa fa-cogs"></i> <b>O</b>ur<b>A</b>pi<b>S</b>erver v{{ @V }} - {{ date('Y') }}
        <br>
    </p>

</div>

<!--LoadingStatus-->
<div id="loading" style="position: absolute;top:40%;left:50%;display: none;">
    <i class="fa fa-spin fa-spinner fa-4x"></i>

    <p>Loading</p>
</div>
<!--End LoadingStatus-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{{@WWW}}/assets/js/html5shiv.js"></script>
<script src="{{@WWW}}/assets/js/respond.min.js"></script>
<![endif]-->

<script src="{{@WWW}}/assets/js/bootstrap.min.js"></script>
<script src="{{@WWW}}/assets/js/modconf.js"></script>

<script src="{{@WWW}}/assets/js/app.js"></script>

</body>

</html>