<ul class="pagination pagination-sm pull-right">
    <check if="{{@pg.firstPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.firstPage}}">&lt;&lt;</a></li>
    </check>
    <check if="{{@pg.prevPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.prevPage}}">&lt;</a></li>
    </check>
    <repeat group="{{@pg.rangePages}}" value="{{@page}}">
        <li "{{@page == @pg.currentPage ? 'class="active"':'' }}">
            <a href="{{@BASE, @pg.route, @page}}">{{@page}}</a>
        </li>
    </repeat>
    <check if="{{@pg.nextPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.nextPage}}">&gt;</a></li>
    </check>
    <check if="{{@pg.lastPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.lastPage}}">&gt;&gt;</a></li>
    </check>
</ul>

