<link rel="stylesheet" href="{{@WWW}}/assets/css/bootstrap-datetimepicker.min.css" media="screen">

<div class="row">

    <include href="__sidebar.html"/>

    <div class="col-sm-8">

        <div class="left-section">

            <h3>
                <i class="fa fa-signal"></i> Stats
                <small>{api #{{@id}}}</small>
            </h3>

            <form class="form-inline pull-right" role="form" id="form-filter">

                <!--<div class="form-group">-->
                    <!--<label class="sr-only" for="input_filter_interval">Method</label>-->
                    <!--<select class="form-control input-sm" name="filter_interval" id="input_filter_interval">-->
                        <!--<option value="H">Hour</option>-->
                        <!--<option value="D">Day</option>-->
                        <!--<option value="W">Week</option>-->
                        <!--<option value="M">Month</option>-->
                        <!--<option value="Y">Year</option>-->
                    <!--</select>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="sr-only" for="input_filter_path">URL</label>
                    <input class="form-control input-sm" id="input_filter_path" name="filter_path"
                           placeholder="Enter URL" value="{{ isset(@GET.filter_path) ? @GET.filter_path : '' }}">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="input_filter_from">From</label>

                    <div class="input-group date" style="max-width: 140px;"
                         data-date=""
                         data-date-format="yyyy-mm-dd"
                         data-link-field="input_filter_from" data-link-format="yyyy-mm-dd">
                        <input class="form-control input-sm" size="16" type="text" readonly=""
                               placeholder="From Date" value="{{ isset(@GET.date_from) ? @GET.date_from : '' }}">
                        <span class="input-group-addon input-sm"><span
                                class="glyphicon glyphicon-calendar"></span></span>
                        <input type="hidden" id="input_filter_from" name="date_from"
                               value="{{ isset(@GET.date_from) ? @GET.date_from : '' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="input_filter_to">To</label>

                    <div class="input-group date" style="max-width: 140px;"
                         data-date=""
                         data-date-format="yyyy-mm-dd"
                         data-link-field="input_filter_to" data-link-format="yyyy-mm-dd">
                        <input class="form-control input-sm" size="16" type="text" readonly=""
                               placeholder="From Date" value="{{ isset(@GET.date_to) ? @GET.date_to : '' }}">
                        <span class="input-group-addon input-sm"><span
                                class="glyphicon glyphicon-calendar"></span></span>
                        <input type="hidden" id="input_filter_to" name="date_to"
                               value="{{ isset(@GET.date_to) ? @GET.date_to : '' }}">
                    </div>
                </div>

                <button type="submit" class="btn btn-default btn-sm">Select</button>
            </form>

            <div class="clearfix"></div>
            <hr>

            <div id="stats" style="width: 100%;height: 300px"></div>

        </div>

    </div>

</div>

<script src="{{@WWW}}/assets/js/flot/jquery.flot.js"></script>
<script src="{{@WWW}}/assets/js/flot/jquery.flot.time.js"></script>
<script src="{{@WWW}}/assets/js/flot/jquery.flot.resize.js"></script>
<script src="{{@WWW}}/assets/js/flot/jquery.flot.threshold.js"></script>
<script src="{{@WWW}}/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{@WWW}}/assets/js/front_stats.js"></script>

<script>
    $(function () {

        //$('select[name=filter_interval]').val("{{( isset(@GET.filter_interval) and @GET.filter_interval ) ? @GET.filter_interval : 'H'}}");

        fill_api_stats("{{@id}}");

        $('.date').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            pickerPosition: 'bottom-rigth'
        });
    })

</script>


