<div style="margin: auto;text-align: center">
    <p style="font-size: 48px;">Opss</p>

    <i class="fa fa-bug" style="font-size: 88px;"></i>

    <p style="font-size: 38px;">Error {{@ERROR.code}}</p>

    <p style="max-width: 500px;margin: auto;">{{@ERROR.text}}</p>

</div>
