<link rel="stylesheet" href="{{@WWW}}/assets/css/bootstrap-datetimepicker.min.css" media="screen">

<div class="row">

    <include href="__sidebar.html"/>

    <div class="col-sm-8">

        <div class="left-section">

            <h3>
                <i class="fa fa-list"></i> Logs
                <small>{api #{{@id}}}</small>
            </h3>

            <form class="form-inline pull-right" role="form">

                <div class="form-group">
                    <label class="sr-only" for="input_filter_path">URL</label>
                    <input class="form-control input-sm" id="input_filter_path" name="filter_path"
                           placeholder="Enter URL" value="{{ isset(@GET.filter_path) ? @GET.filter_path : '' }}">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="input_filter_from">From</label>

                    <div class="input-group date" style="max-width: 140px;"
                         data-date=""
                         data-date-format="yyyy-mm-dd"
                         data-link-field="input_filter_from" data-link-format="yyyy-mm-dd">
                        <input class="form-control input-sm" size="16" type="text" readonly=""
                               placeholder="From Date" value="{{ isset(@GET.date_from) ? @GET.date_from : '' }}">
                        <span class="input-group-addon input-sm"><span
                                class="glyphicon glyphicon-calendar"></span></span>
                        <input type="hidden" id="input_filter_from" name="date_from"
                               value="{{ isset(@GET.date_from) ? @GET.date_from : '' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="input_filter_to">To</label>

                    <div class="input-group date" style="max-width: 140px;"
                         data-date=""
                         data-date-format="yyyy-mm-dd"
                         data-link-field="input_filter_to" data-link-format="yyyy-mm-dd">
                        <input class="form-control input-sm" size="16" type="text" readonly=""
                               placeholder="From Date" value="{{ isset(@GET.date_to) ? @GET.date_to : '' }}">
                        <span class="input-group-addon input-sm"><span
                                class="glyphicon glyphicon-calendar"></span></span>
                        <input type="hidden" id="input_filter_to" name="date_to"
                               value="{{ isset(@GET.date_to) ? @GET.date_to : '' }}">
                    </div>
                </div>

                <button type="submit" class="btn btn-default btn-sm">Select</button>
            </form>

            <div class="clearfix"></div>
            <hr>

            <div class="table-responsive" style="font-size: 12px;">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Host</th>
                        <th>Url</th>
                        <th>Params</th>
                        <th>UserAgent</th>
                        <th>Datetime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{ @l_logs }}" value="{{ @i }}">
                        <tr>
                            <td>{{ @i.host }}</td>
                            <td>{{ @i.url }}</td>
                            <td>
                                <repeat group="{{ unserialize(@i.params) }}" value="{{ @j }}" key="{{ @k }}">
                                    {{ @k}}={{ @j }};
                                </repeat>
                            </td>
                            <td>{{ @i.agent }}</td>
                            <td>{{ @i.datetime }}</td>
                        </tr>
                    </repeat>
                    </tbody>
                </table>
            </div>

            {{ @pagebrowser | raw }}

        </div>

    </div>

</div>


<script src="{{@WWW}}/assets/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.date').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 1,
        pickerPosition: 'bottom-rigth'
    });
</script>