<!DOCTYPE html>
<html lang="en">
<head>
    <title>APIs Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <style>
        table {
            border: 1px solid;
            text-align: left;
        }

        table th {
            font-weight: bold;
            border-bottom: 1px solid;
        }
    </style>

</head>
<body>

<h1>APIs Directory</h1>

<br>

<table cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>Name</th>
        <th>TTL</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <repeat group="{{ @l_api }}" value="{{ @i }}">
        <check if="{{ @i.is_public }}">
            <tr>
                <td><b>{{ @i.name }}</b></td>
                <td>{{ @i.cache }}</td>
                <td>
                    <hr>
                    {{ @i.description }}
                    <a href="{{@WWW}}{{@i.path}}" target="_blank">{{@WWW}}{{@i.path}}</a>
                </td>
            </tr>
        </check>
    </repeat>
    </tbody>
</table>

<p style="font-size: 12px;">
    powered by <b>OurAPIServer</b>
</p>

</body>

</html>