.navbar-default {
	background: #d80100;
	border-color: #d80100;	
	border-radius: inherit;
}

.navbar-default .container-fluid {
	padding: 0px 0px;
}

.navbar-default ul li {
border-right:solid 1px #D1000E;	padding-left: 1px;
}

.navbar-default ul li:first-child {
	background: none;
	padding-left: 0px;	
}

.navbar-default ul li a:link,
.navbar-default ul li a:active,
.navbar-default ul li a:visited {
	color: #fff !important;
	font-family: 'Ubuntu', sans-serif;	
	text-transform: uppercase;
	font-size: 16px;
	transition: all 0.5s ease 0s;
}

.navbar-default ul li.active a:link,
.navbar-default ul li.active a:active,
.navbar-default ul li.active a:visited,
.navbar-default ul li a:hover,
.navbar-default ul li a:focus {
	background-color: #D1000E !important;
	color: #fff;	
}

#mainmenu .navbar {
	margin: 0;
	box-shadow: 0 0 0 !important;
}

#mainmenu .navbar ul {
	-webkit-font-smoothing:antialiased;
 	list-style: none;
 	margin: 0;
 	padding: 0;
}

#mainmenu .navbar ul li {
    position: relative;
    float: left;
}

#mainmenu .navbar ul li a:link, 
#mainmenu .navbar ul li a:active,
#mainmenu .navbar ul li a:visited {
	border-radius: inherit;
	display: block;
	color: #fff;
	outline: none;
}

/*#mainmenu .navbar ul li.active a:link, 
#mainmenu .navbar ul li.active a:active,
#mainmenu .navbar ul li.active a:visited {
	background: #83b050;
	box-shadow: 0 2px 0px 0 #6d9c43;
	outline: none;
}*/

/*#mainmenu .navbar ul li.active.drop a:link, 
#mainmenu .navbar ul li.active.drop a:active, 
#mainmenu .navbar ul li.active.drop a:visited {
	background: #83b050 url(../images/dropdown_arrow.png) no-repeat 6px center;
}

#mainmenu .navbar ul li.drop:hover a,
#mainmenu .navbar ul li a:hover {
	background: #e36b2c;
	box-shadow: 0 2px 0px 0 #DC5925;
	border-bottom: solid 2px #dc5925;
}*/
/*
#mainmenu .navbar ul li.drop a {
	background: url(../images/dropdown_arrow.png) no-repeat 6px center;
}

#mainmenu .navbar ul li.drop:hover a {
	background: #e36b2c url(../images/dropdown_arrow.png) no-repeat 6px center;
}*/

#mainmenu .navbar ul li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 50px;
    visibility: hidden;
    z-index: 999;
    /*-webkit-transition: all .80s ease;*/
       -moz-transition: all .80s ease;
        -ms-transition: all .80s ease;
         -o-transition: all .80s ease;
            transition: all .80s ease;
	background-color: #ffffff;
	width: 250px;
	margin-left: 1px;
	padding: 5px 5px 1px;
	border: 10px solid #D1000E;
	
	  -moz-box-shadow:    0px 3px 5px 0px #82827f;
  -webkit-box-shadow: 0px 3px 5px 0px #82827f;
  box-shadow:         0px 3px 5px 0px #82827f;
}

#mainmenu .navbar ul li.active ul li a:link, 
#mainmenu .navbar ul li.active ul li a:active, 
#mainmenu .navbar ul li.active ul li a:visited {
	
}

#mainmenu .navbar ul li.active ul li.active a:link, 
#mainmenu .navbar ul li.active ul li.active a:active, 
#mainmenu .navbar ul li.active ul li.active a:visited {
	background: none;
	outline: none;
}

#mainmenu .navbar ul li.active ul li.active ul li.active a:link, 
#mainmenu .navbar ul li.active ul li.active ul li.active a:active, 
#mainmenu .navbar ul li.active ul li.active ul li.active a:visited {
	background: none;
	outline: none;
}

#mainmenu .navbar ul li:hover ul {
	opacity: 1;
	top: 50px;
	left: 0px;
	visibility: visible;
}

#mainmenu .navbar ul li ul li ul {	
	top: -5px !important;
	visibility: hidden !important;
	opacity: 0 !important;
	margin-left: 195px;
	left: 0;
}

#mainmenu .navbar ul li ul li:hover ul {
    opacity: 1 !important;
    visibility: visible !important;
}

#mainmenu .navbar ul li ul li {
	background: none !important; 
    float: none;
    width: 100%;
    padding: 1px 0;
    border-bottom: 1px solid #e8e8e8;
            border-right:0px;

}

#mainmenu .navbar ul li ul li a:link, 
#mainmenu .navbar ul li ul li a:active,
#mainmenu .navbar ul li ul li a:visited {
	text-decoration: none;
	padding: 8px;
	padding-left: 20px;
	display: block;
	margin: 0;
	background: none;
	color: #D1000E !important;
	text-transform: none;
}

#mainmenu .navbar ul li ul li.active a:link, 
#mainmenu .navbar ul li ul li.active a:active,
#mainmenu .navbar ul li ul li.active a:visited,
#mainmenu .navbar ul li ul li a:hover {
	background: #d80100 !important;
	outline: none;
	border-radius: 0;
	color: #ffffff !important; 
}

#mainmenu .navbar ul li ul li a:link, 
#mainmenu .navbar ul li ul li a:active, 
#mainmenu .navbar ul li ul li a:visited,
#mainmenu .navbar ul li ul li ul li a:link, 
#mainmenu .navbar ul li ul li ul li a:active, 
#mainmenu .navbar ul li ul li ul li a:visited {
	outline: none;
}

#mainmenu .navbar ul li a:focus,
#mainmenu .navbar ul li ul li a:focus,
#mainmenu .navbar ul li ul li ul li a:focus {
	background: none !important;
	color: #fff !important;
}

/* full screen end */ 

/* menu css start for mobile screen */

@media (max-width: 767px) {

#mainmenu .navbar-collapse.in {	
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	width: 100%;
	/*height: auto !important;*/
	margin-top: 40px;
	max-height: 340px !important;
	margin-left: 0;
}

#mainmenu .navbar-default .navbar-toggle {
	background: #DDDDDD;
}

#mainmenu .navbar.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none; 
}

#mainmenu .navbar.navbar-default .navbar-toggle .icon-bar {
	color: #D1000E;
}

#mainmenu .container > .navbar-header, 
#mainmenu .container-fluid > .navbar-header, 
#mainmenu .container > .navbar-collapse, 
#mainmenu .container-fluid > .navbar-collapse {
	margin: 0;
}

#mainmenu .navbar ul li {
	width: 100%;
	background: none;
}

#mainmenu .navbar ul li ul {
	border: none;
	padding: 0 20px;
	box-shadow: inherit;
}

#mainmenu .navbar ul li ul li {
	background: none;
}

#mainmenu .navbar ul li ul li a:link, 
#mainmenu .navbar ul li ul li a:active, 
#mainmenu .navbar ul li ul li a:visited {
	padding-top: 3px;
	padding-bottom: 3px;
}

#mainmenu .navbar ul li ul li ul,
#mainmenu .navbar  ul li ul {
	visibility: visible !important;
	opacity: 1 !important;
	position: static !important;
	width: 100%;
	background: none;
	margin-left: 0;
	border-radius: 0px;
	margin: 0;
}

#mainmenu .navbar-form {
	margin: 0;
}

#mainmenu .navbar-form .form-group {
	width: 85%;
	float: left;
	margin-right: 5px;
}




}


/* ------------------------------------------------------------------------------------------dropdown menu css end */